@charset "ISO-8859-1";

.itemCount {
	background-color: red;
	color: white;
	border-radius: 50%;
	width: 17px; /* width und height für die Größe des Kreises */
	height: 17px; 
	text-align: center;
	line-height: 17px; /* größe der Zahl im Kreis */
	font-size: 12px;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
}

.nav-link {
	display: inline-block;
	position: relative;
}

.nav-icon {
	width: 30px;
	height: 30px;
}